<div class="card card-container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-horizontal"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label col-sm-2">Email</label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   formControlName="userEmail">
            <bfv-messages></bfv-messages>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Password</label>
          <div class="col-sm-10">
            <input type="password"
                   class="form-control"
                   formControlName="userPassword">
            <bfv-messages></bfv-messages>
          </div>
        </div>
        <button class="btn btn-primary pull-right"
                type="submit"
                [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
