<ul ngbNav
    class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink
       [routerLink]="testPage">Test</a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink
       routerLink="home">Home</a>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink
       routerLink="login">Login</a>
  </li>
</ul>

<div class="container align-items-center h-100">
  <router-outlet></router-outlet>
</div>
