<div [style.background-color]="bgColor"
     *ngFor="let item of postArray$ | async">
  <p>
    {{ item.title }}
  </p>
</div>
<button (click)="changeHomeBackground()"
        class="btn btn-warning">Change Home Background</button>
