<div [style.background-color]="bgColor"
     class="container">
  <button class="btn btn-primary"
          (click)="randomColor()">
    Randomize color
  </button>
  <app-test (homeBgColor)="changeHomeBgColor($event)"
            [bgColor]="color"></app-test>
</div>
